<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Add new post</h2>
        <form action="/new" method="POST" role="form">
            <textarea class="form-control" name="content" rows="6" placeholder="Type your post here"></textarea>
          <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
